Completed Purchase history/DSA_Assignment1_Sit1/DSA_Assignment1_Sit1/Service References/FaultServ/Fault3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12952/Fault.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:element name="GetAllFaults">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFaultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetAllFaultsResult" nillable="true" type="q1:ArrayOfFault" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFaultLogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFaultLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetAllFaultLogsResult" nillable="true" type="q2:ArrayOfFaultLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFaultLogsByFaultID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFaultLogsByFaultIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetAllFaultLogsByFaultIDResult" nillable="true" type="q3:ArrayOfFaultLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="fault" nillable="true" type="q4:Fault" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFaultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFaultLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="faultLog" nillable="true" type="q5:FaultLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFaultLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRandomNumber">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRandomNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateRandomNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaultByTicketNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaultByTicketNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetFaultByTicketNumberResult" nillable="true" type="q6:Fault" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaultsByAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaultsByAccountIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetFaultsByAccountIDResult" nillable="true" type="q7:ArrayOfFault" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaultByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaultByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetFaultByIDResult" nillable="true" type="q8:Fault" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaultLogsByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaultLogsByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetFaultLogsByDateResult" nillable="true" type="q9:ArrayOfFaultLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaultsByAllThreeCombinations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID" type="xs:int" />
        <xs:element minOccurs="0" name="fID" type="xs:int" />
        <xs:element minOccurs="0" name="fromdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="todate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaultsByAllThreeCombinationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetFaultsByAllThreeCombinationsResult" nillable="true" type="q10:ArrayOfFaultLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaultsByAccountIDandProductID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aID" type="xs:int" />
        <xs:element minOccurs="0" name="pID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaultsByAccountIDandProductIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetFaultsByAccountIDandProductIDResult" nillable="true" type="q11:ArrayOfFault" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sortByDateAsc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="sortByDateAscResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="sortByDateAscResult" nillable="true" type="q12:ArrayOfFaultLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sortByDateDesc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="sortByDateDescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="sortByDateDescResult" nillable="true" type="q13:ArrayOfFaultLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>