Completed Purchase history/DSA_Assignment1_Sit1/DSA_Assignment1_Sit1/Service References/FaultServ/Fault.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Fault" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:12952/Fault.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:12952/Fault.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12952/Fault.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import schemaLocation="http://localhost:12952/Fault.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:12952/Fault.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFault_GetAllFaults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFaults" />
  </wsdl:message>
  <wsdl:message name="IFault_GetAllFaults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFaultsResponse" />
  </wsdl:message>
  <wsdl:message name="IFault_GetAllFaultLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFaultLogs" />
  </wsdl:message>
  <wsdl:message name="IFault_GetAllFaultLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFaultLogsResponse" />
  </wsdl:message>
  <wsdl:message name="IFault_GetAllFaultLogsByFaultID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFaultLogsByFaultID" />
  </wsdl:message>
  <wsdl:message name="IFault_GetAllFaultLogsByFaultID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFaultLogsByFaultIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFault_AddFault_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFault" />
  </wsdl:message>
  <wsdl:message name="IFault_AddFault_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFaultResponse" />
  </wsdl:message>
  <wsdl:message name="IFault_AddFaultLog_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFaultLog" />
  </wsdl:message>
  <wsdl:message name="IFault_AddFaultLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFaultLogResponse" />
  </wsdl:message>
  <wsdl:message name="IFault_GenerateRandomNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateRandomNumber" />
  </wsdl:message>
  <wsdl:message name="IFault_GenerateRandomNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateRandomNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IFault_GetFaultByTicketNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFaultByTicketNumber" />
  </wsdl:message>
  <wsdl:message name="IFault_GetFaultByTicketNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFaultByTicketNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IFault_GetFaultsByAccountID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFaultsByAccountID" />
  </wsdl:message>
  <wsdl:message name="IFault_GetFaultsByAccountID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFaultsByAccountIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFault_GetFaultByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFaultByID" />
  </wsdl:message>
  <wsdl:message name="IFault_GetFaultByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFaultByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFault_GetFaultLogsByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFaultLogsByDate" />
  </wsdl:message>
  <wsdl:message name="IFault_GetFaultLogsByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFaultLogsByDateResponse" />
  </wsdl:message>
  <wsdl:message name="IFault_GetFaultsByAllThreeCombinations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFaultsByAllThreeCombinations" />
  </wsdl:message>
  <wsdl:message name="IFault_GetFaultsByAllThreeCombinations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFaultsByAllThreeCombinationsResponse" />
  </wsdl:message>
  <wsdl:message name="IFault_GetFaultsByAccountIDandProductID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFaultsByAccountIDandProductID" />
  </wsdl:message>
  <wsdl:message name="IFault_GetFaultsByAccountIDandProductID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFaultsByAccountIDandProductIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFault_sortByDateAsc_InputMessage">
    <wsdl:part name="parameters" element="tns:sortByDateAsc" />
  </wsdl:message>
  <wsdl:message name="IFault_sortByDateAsc_OutputMessage">
    <wsdl:part name="parameters" element="tns:sortByDateAscResponse" />
  </wsdl:message>
  <wsdl:message name="IFault_sortByDateDesc_InputMessage">
    <wsdl:part name="parameters" element="tns:sortByDateDesc" />
  </wsdl:message>
  <wsdl:message name="IFault_sortByDateDesc_OutputMessage">
    <wsdl:part name="parameters" element="tns:sortByDateDescResponse" />
  </wsdl:message>
  <wsdl:portType name="IFault">
    <wsdl:operation name="GetAllFaults">
      <wsdl:input wsaw:Action="http://tempuri.org/IFault/GetAllFaults" message="tns:IFault_GetAllFaults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFault/GetAllFaultsResponse" message="tns:IFault_GetAllFaults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFaultLogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IFault/GetAllFaultLogs" message="tns:IFault_GetAllFaultLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFault/GetAllFaultLogsResponse" message="tns:IFault_GetAllFaultLogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFaultLogsByFaultID">
      <wsdl:input wsaw:Action="http://tempuri.org/IFault/GetAllFaultLogsByFaultID" message="tns:IFault_GetAllFaultLogsByFaultID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFault/GetAllFaultLogsByFaultIDResponse" message="tns:IFault_GetAllFaultLogsByFaultID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFault">
      <wsdl:input wsaw:Action="http://tempuri.org/IFault/AddFault" message="tns:IFault_AddFault_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFault/AddFaultResponse" message="tns:IFault_AddFault_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFaultLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IFault/AddFaultLog" message="tns:IFault_AddFaultLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFault/AddFaultLogResponse" message="tns:IFault_AddFaultLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateRandomNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IFault/GenerateRandomNumber" message="tns:IFault_GenerateRandomNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFault/GenerateRandomNumberResponse" message="tns:IFault_GenerateRandomNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFaultByTicketNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IFault/GetFaultByTicketNumber" message="tns:IFault_GetFaultByTicketNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFault/GetFaultByTicketNumberResponse" message="tns:IFault_GetFaultByTicketNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFaultsByAccountID">
      <wsdl:input wsaw:Action="http://tempuri.org/IFault/GetFaultsByAccountID" message="tns:IFault_GetFaultsByAccountID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFault/GetFaultsByAccountIDResponse" message="tns:IFault_GetFaultsByAccountID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFaultByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IFault/GetFaultByID" message="tns:IFault_GetFaultByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFault/GetFaultByIDResponse" message="tns:IFault_GetFaultByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFaultLogsByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IFault/GetFaultLogsByDate" message="tns:IFault_GetFaultLogsByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFault/GetFaultLogsByDateResponse" message="tns:IFault_GetFaultLogsByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFaultsByAllThreeCombinations">
      <wsdl:input wsaw:Action="http://tempuri.org/IFault/GetFaultsByAllThreeCombinations" message="tns:IFault_GetFaultsByAllThreeCombinations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFault/GetFaultsByAllThreeCombinationsResponse" message="tns:IFault_GetFaultsByAllThreeCombinations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFaultsByAccountIDandProductID">
      <wsdl:input wsaw:Action="http://tempuri.org/IFault/GetFaultsByAccountIDandProductID" message="tns:IFault_GetFaultsByAccountIDandProductID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFault/GetFaultsByAccountIDandProductIDResponse" message="tns:IFault_GetFaultsByAccountIDandProductID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sortByDateAsc">
      <wsdl:input wsaw:Action="http://tempuri.org/IFault/sortByDateAsc" message="tns:IFault_sortByDateAsc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFault/sortByDateAscResponse" message="tns:IFault_sortByDateAsc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sortByDateDesc">
      <wsdl:input wsaw:Action="http://tempuri.org/IFault/sortByDateDesc" message="tns:IFault_sortByDateDesc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFault/sortByDateDescResponse" message="tns:IFault_sortByDateDesc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFault" type="tns:IFault">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllFaults">
      <soap:operation soapAction="http://tempuri.org/IFault/GetAllFaults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFaultLogs">
      <soap:operation soapAction="http://tempuri.org/IFault/GetAllFaultLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFaultLogsByFaultID">
      <soap:operation soapAction="http://tempuri.org/IFault/GetAllFaultLogsByFaultID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFault">
      <soap:operation soapAction="http://tempuri.org/IFault/AddFault" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFaultLog">
      <soap:operation soapAction="http://tempuri.org/IFault/AddFaultLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateRandomNumber">
      <soap:operation soapAction="http://tempuri.org/IFault/GenerateRandomNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaultByTicketNumber">
      <soap:operation soapAction="http://tempuri.org/IFault/GetFaultByTicketNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaultsByAccountID">
      <soap:operation soapAction="http://tempuri.org/IFault/GetFaultsByAccountID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaultByID">
      <soap:operation soapAction="http://tempuri.org/IFault/GetFaultByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaultLogsByDate">
      <soap:operation soapAction="http://tempuri.org/IFault/GetFaultLogsByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaultsByAllThreeCombinations">
      <soap:operation soapAction="http://tempuri.org/IFault/GetFaultsByAllThreeCombinations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaultsByAccountIDandProductID">
      <soap:operation soapAction="http://tempuri.org/IFault/GetFaultsByAccountIDandProductID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sortByDateAsc">
      <soap:operation soapAction="http://tempuri.org/IFault/sortByDateAsc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sortByDateDesc">
      <soap:operation soapAction="http://tempuri.org/IFault/sortByDateDesc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Fault">
    <wsdl:port name="BasicHttpBinding_IFault" binding="tns:BasicHttpBinding_IFault">
      <soap:address location="http://localhost:12952/Fault.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>