DSA_Assignment1_Sit1/DSA_Assignment1_Sit1/Service References/OrderServ/Order.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Order" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:12952/Order.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:12952/Order.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12952/Order.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import schemaLocation="http://localhost:12952/Order.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:12952/Order.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrder_GetOrderStatusByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatusByID" />
  </wsdl:message>
  <wsdl:message name="IOrder_GetOrderStatusByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatusByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_GetOrderStatusByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatusByName" />
  </wsdl:message>
  <wsdl:message name="IOrder_GetOrderStatusByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatusByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_GetOrderByAccountAndStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByAccountAndStatus" />
  </wsdl:message>
  <wsdl:message name="IOrder_GetOrderByAccountAndStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByAccountAndStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_GetProductOrderByOrderIDAndProductID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductOrderByOrderIDAndProductID" />
  </wsdl:message>
  <wsdl:message name="IOrder_GetProductOrderByOrderIDAndProductID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductOrderByOrderIDAndProductIDResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_UpdateProductOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductOrder" />
  </wsdl:message>
  <wsdl:message name="IOrder_UpdateProductOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_AddProductOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProductOrder" />
  </wsdl:message>
  <wsdl:message name="IOrder_AddProductOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_AddOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="IOrder_AddOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_GetOrderByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByID" />
  </wsdl:message>
  <wsdl:message name="IOrder_GetOrderByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_GetOrdersByAccountID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersByAccountID" />
  </wsdl:message>
  <wsdl:message name="IOrder_GetOrdersByAccountID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersByAccountIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrder">
    <wsdl:operation name="GetOrderStatusByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/GetOrderStatusByID" message="tns:IOrder_GetOrderStatusByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/GetOrderStatusByIDResponse" message="tns:IOrder_GetOrderStatusByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatusByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/GetOrderStatusByName" message="tns:IOrder_GetOrderStatusByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/GetOrderStatusByNameResponse" message="tns:IOrder_GetOrderStatusByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderByAccountAndStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/GetOrderByAccountAndStatus" message="tns:IOrder_GetOrderByAccountAndStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/GetOrderByAccountAndStatusResponse" message="tns:IOrder_GetOrderByAccountAndStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductOrderByOrderIDAndProductID">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/GetProductOrderByOrderIDAndProductID" message="tns:IOrder_GetProductOrderByOrderIDAndProductID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/GetProductOrderByOrderIDAndProductIDResponse" message="tns:IOrder_GetProductOrderByOrderIDAndProductID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/UpdateProductOrder" message="tns:IOrder_UpdateProductOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/UpdateProductOrderResponse" message="tns:IOrder_UpdateProductOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProductOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/AddProductOrder" message="tns:IOrder_AddProductOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/AddProductOrderResponse" message="tns:IOrder_AddProductOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/AddOrder" message="tns:IOrder_AddOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/AddOrderResponse" message="tns:IOrder_AddOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/GetOrderByID" message="tns:IOrder_GetOrderByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/GetOrderByIDResponse" message="tns:IOrder_GetOrderByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrdersByAccountID">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/GetOrdersByAccountID" message="tns:IOrder_GetOrdersByAccountID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/GetOrdersByAccountIDResponse" message="tns:IOrder_GetOrdersByAccountID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrder" type="tns:IOrder">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderStatusByID">
      <soap:operation soapAction="http://tempuri.org/IOrder/GetOrderStatusByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatusByName">
      <soap:operation soapAction="http://tempuri.org/IOrder/GetOrderStatusByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByAccountAndStatus">
      <soap:operation soapAction="http://tempuri.org/IOrder/GetOrderByAccountAndStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductOrderByOrderIDAndProductID">
      <soap:operation soapAction="http://tempuri.org/IOrder/GetProductOrderByOrderIDAndProductID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductOrder">
      <soap:operation soapAction="http://tempuri.org/IOrder/UpdateProductOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProductOrder">
      <soap:operation soapAction="http://tempuri.org/IOrder/AddProductOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/IOrder/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByID">
      <soap:operation soapAction="http://tempuri.org/IOrder/GetOrderByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersByAccountID">
      <soap:operation soapAction="http://tempuri.org/IOrder/GetOrdersByAccountID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Order">
    <wsdl:port name="BasicHttpBinding_IOrder" binding="tns:BasicHttpBinding_IOrder">
      <soap:address location="http://localhost:12952/Order.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>